.upper-background{
    width: 100%;
    height: max-content;
    background-image: url('images/contact-site.jpg');
    background-position: center center;
	background-size:cover;
    background-blend-mode: overlay;
}

.iconSize{
    font-size: 4.5rem;
}
.contactHeader{
    font-size:2.5rem;
}
.contactText{
    font-size:1.8rem;
    opacity:0.9;
}
.navbarStyle {
    background-color:#111;
    position:relative;
}
.positionFixed{
    position:fixed !important;
}
.listStlye p a {
    color:#f5f5f5 !important;
}
#contact{
    height:max-content;
}
#mailForm{
    height:max-content;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0;
}
.form-group {
    font-size:1.5rem;
}
.form-group 
#message{
    height:100px;
}
.formStyle{
    border-radius: 15px;
    border: 1px solid;
    box-shadow: 4px 4px 4px 4px #888888;
}

.btn-outline-contact {
    color:#111;
    border: 2px solid #111;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.btn-outline-contact:hover {
    color:#FFD700;
    border: 2px solid #FFD700;
    
}
.btn-xlg{
    padding: .5rem 4rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}